@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: white;
  margin-top: "88px";
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}


.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent linear-gradient(180deg, #160830 0%, #4B1849 51%, #160830 100%) 0% 0% no-repeat padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
  
 
}





@media only screen and (max-width: 600px) {

  #buttonCancelar:hover {
    background: black;
    border: 2px solid black;
  }

  #oi {
    width: 200px;  
    height: 100px;
    margin-bottom: -100px; 
    padding-bottom: 0;
    margin-top: 100px;
  }

  #buttonPlus {
    background-color: #7F33A8;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #7F33A8;
    color: #3C1153;
    font-weight: 900;
    cursor: pointer;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    height: 55px;
    width: 30%;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: -8%;
  }

  #buttonMinus {
    background-color: #7F33A8;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #7F33A8;
    color: #3C1153;
    font-weight: 900;
    cursor: pointer;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    height: 55px;
    width: 30%;
    margin-top: 15px;
    margin-right: 5%;
  }

  #buttonMintarNFT {
    background-color: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 326px;
    font-size: 21px;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 55px;
    letter-spacing: 2.1px;
  }




  #inputID::placeholder {
    color: #fff;
    opacity: 1;
  }


  #inputIDAmountMint {
      text-align: center;
      width: 70%; 
      height: 55px ;
      margin-top: 15px;
      border: 2px solid #7F33A8;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 15px;
      background-color: transparent; 
      font-size: 21px; 
      color: #fff;
      text-shadow: 0px 3px 6px #00000029;
      letter-spacing: 2.1px;
      font-family: Poppins, sans-serif;
      padding-left: 3%;
  }


  #box {
    width: 300px;
  }

  #box2 {
    height: 100%;
    margin-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #orbs {
    width: 230px;
    height: 230px; 
    margin-bottom: 0px; 
    padding-bottom: 0px;
    margin-top: 100px; 
    opacity: 100%;
  }
  #page {
    overflow: scroll;
    height: 700px; 
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  #buttonID:hover {
    background: #35408a;
    border: 2px solid #35408a;
  }
  #buttonID2:hover {
    background: #35408a;
    border: 2px solid #35408a;
  }


  #inputID {
    width: 326px;
    height: 55px; 
    border: 2px solid #7F33A8; 
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px; 
    background: transparent;
    font-size: 21px;
    color: #fff; 
    text-shadow: 0px 3px 6px #00000029; 
    letter-spacing: 2.1px;
    padding-left: 33px;
  }


  #buttonID2 {
    background: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #1EE0FF;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    padding: 15px;
    width: 45%;
    font-size: 70%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }

  #buttonID3 {
    background: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #1EE0FF;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 75%;
    font-size: 110%;
    margin-top: 4%;
    margin-bottom: 8%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }

  #buttonID4 {
    background: red;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid red;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 75%;
    font-size: 110%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }
}










@media only screen and (min-width: 601px) {

  #buttonCancelar:hover {
    background: black;
    border: 2px solid black;
  }

  #buttonCancelar {}

  #oi {
    width: 20%;  
    height: 20%;
    margin-bottom: -100px; 
    padding-bottom: 0;
    margin-top: 100px;
  }

  
  #buttonMintarNFT {
    background-color: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    color: white;
    cursor: pointer;
    padding: 15px;
    margin: 30px 15px;
    width: 326px;
    font-size: 21px;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 55px;
    letter-spacing: 2.1px;
  }

  
  #inputIDAmountMint {
    text-align: center;
    width: 136px; 
    height: 55px ;
    margin-top: 15px;
    border: 2px solid #7F33A8;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    background-color: transparent; 
    font-size: 21px; 
    color: #fff;
    text-shadow: 0px 3px 6px #00000029;
    letter-spacing: 2.1px;
    font-family: Poppins, sans-serif;
    padding-left: 20px;
}

  #buttonPlus {
    background-color: #7F33A8;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #7F33A8;
    color: #3C1153;
    font-weight: 900;
    cursor: pointer;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    height: 55px;
    width: 83px;
    margin-top: 15;
    margin-left: 12px;
  }

  #buttonMinus {
    background-color: #7F33A8;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #7F33A8;
    color: #3C1153;
    font-weight: 900;
    cursor: pointer;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    height: 55px;
    width: 83px;
    margin-top: 15;
    margin-left: 12px;
  }

  #box {
    width: 1200px;
  }

  #inputID {
    width: 326px;
    height: 55px; 
    border: 2px solid #7F33A8; 
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px; 
    background: transparent;
    font-size: 21px;
    color: #fff; 
    text-shadow: 0px 3px 6px #00000029; 
    letter-spacing: 2.1px;
    padding-left: 33px;
  }

  #orbs {
    width: 350px;
    height: 350px; 
    margin-bottom: 0px; 
    padding-bottom: 0px;
    margin-top: -50px; 
    opacity: 1;
  }

  #page {
    overflow: scroll;
    height: 1600px; 
    justify-content: center;
    align-content: center;
  }
  #buttonID:hover {
    background: #35408a;
    border: 2px solid #35408a;
  }
  #buttonID2:hover {
    background: #35408a;
    border: 2px solid #35408a;
  }

  #buttonID {
    background: transparent;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #1EE0FF;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    padding: 15px;
    width: 25%;
    font-size: 100%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }

  #buttonID2 {
    background: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #1EE0FF;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    padding: 15px;
    width: 25%;
    font-size: 100%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }

  #buttonID3 {
    background: #1EE0FF;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #1EE0FF;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    padding: 15px;
    width: 25%;
    font-size: 100%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }

  #buttonID4 {
    background: red;
    border-radius: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid red;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 75%;
    font-size: 110%;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    height: 50%;
  }
}

